@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Vacantes - Prácticas";
}
<h2 class="vacantes-titulo titulo-principal d-flex justify-content-center align-items-center">
    Vacantes @DateTime.Now.Year
</h2>
<div class="vacantes-titulo titulo-principal d-flex justify-content-between mb-0 align-items-center">

    <button type="button" class="btn-cta btn-nuevo mb-0" data-bs-toggle="modal" data-bs-target="#modalCrearVacante"> + Registrar</button>
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="filtroDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-filter"></i>
        </button>
        <div class="dropdown-menu p-3" style="min-width: 300px;">
            <div class="mb-2">
                <label>Estado de vacante</label>
                <select id="filtroPractica" class="form-control">
                    <option value="">Todos</option>
                    <option value="Asignada">Asignada</option>
                    <option value="No asignada">No Asignada</option>
                </select>
            </div>
            <div>
                <label>Especialidad</label>
                <input type="text" id="filtroEspecialidad" class="form-control" placeholder="Filtrar por especialidad" />
            </div>
        </div>
    </div>
</div>


<div class="card rounded-5 p-3">
    <table id="miTabla" class="display responsive nowrap w-100">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Especialidad</th>
                <th>Requisitos</th>
                <th>Cupos Disponibles</th>
                <th>Estudiantes Postulados</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Align</td>
                <td>Informática</td>
                <td>Inglés B1</td>
                <td>3</td>
                <td>2</td>
                <td><span class="badge badge-no-asignada">No Asignada</span></td>
                <td>
                    <button class="btn bg-transparent text-decoration-none" data-bs-toggle="modal" data-bs-target="#modalAsignar" style="color: #2d594d"><i class="fas fa-user-plus"></i></button>
                    <button class="btn bg-transparent text-decoration-none BtnVisualizarVacante" data-bs-toggle="modal"
                            data-bs-target="#modalVisualizarVacante" data-asignados="2" style="color: #2d594d">
                        <i class="fas fa-eye"></i>
                    </button>
                    <button data-bs-toggle="modal"
                            data-bs-target="#modalEditarVacante"
                            class="btn text-decoration-none bg-transparent"
                            style="color: #2d594d"
                            data-empresa="Align"
                            data-especialidad="Informática"
                            data-requisitos="Inglés B1"
                            data-cupos="3"
                            data-asignados="2" ;
                            data-fecha-aplicacion="2025-08-15"
                            data-fecha-cierre="2025-09-01">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <button class="btn bg-transparent text-decoration-none BtnEliminarVacante" data-asignados="2" style="color: #2d594d">	<i class="fas fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Boston Scientific</td>
                <td>Informática</td>
                <td>Javascript</td>
                <td>3</td>
                <td>0</td>
                <td><span class="badge badge-no-asignada">No Asignada</span></td>
                <td>
                    <button class="btn bg-transparent text-decoration-none BtnEliminarVacante" data-asignados="0" style="color: #2d594d"><i class="fas fa-user-plus"></i></button>
                    <button class="btn bg-transparent text-decoration-none BtnVisualizarVacante" data-bs-toggle="modal"
                            data-bs-target="#modalVisualizarVacante" data-asignados="0" style="color: #2d594d">
                        <i class="fas fa-eye"></i>
                    </button>
                    <button data-bs-toggle="modal"
                            data-bs-target="#modalEditarVacante"
                            class="btn text-decoration-none bg-transparent"
                            style="color: #2d594d"
                            data-empresa="Align"
                            data-especialidad="Informática"
                            data-requisitos="Inglés B1"
                            data-cupos="3"
                            data-asignados="2" ;
                            data-fecha-aplicacion="2025-08-15"
                            data-fecha-cierre="2025-09-01">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <button class="btn bg-transparent text-decoration-none BtnEliminarVacante" data-asignados="0" style="color: #2d594d">	<i class="fas fa-trash"></i></button>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--MODAL ASIGNAR-->
<div class="modal fade" id="modalAsignar" tabindex="-1" aria-labelledby="modalCrearVacanteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" style="border-radius: 12px; background-color: #F2F2F2; color: #2D594D;">

            <!-- HEADER -->
            <div class="modal-header" style="background-color: #2D594D; color: white;">
                <h5 class="modal-title">Asignar Vacante</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <!-- BODY -->
            <div class="modal-body px-4">
                <div class="mb-4 card rounded-5 p-3">
                    <h5 class="section-title">Seleccionar Estudiante para Asignar</h5>


                    <table id="miTablaAsignar" class="display responsive nowrap w-100">
                        <thead class="table-light">
                            <tr style="text-align: center;">
                                <th> Nombre</th>
                                <th> Cédula</th>
                                <th>Estado Práctica</th>
                                <th>Especialidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Johnny Castillo Fallas</td>
                                <td>803883038</td>
                                <td><span class="badge-asignada">Práctica Asignada</span></td>
                                <td>Informática</td>
                                <td class="text-center">
                                    <button class="btn bg-transparent asignar-btn text-decoration-none" title="Asignar" style="color: #2d594d"><i class="fas fa-user-plus"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ariana Fallas Calderón</td>
                                <td>118810955</td>
                                <td><span class="badge-no-asignada">Sin Práctica Asignada</span></td>
                                <td>Informática</td>

                                <td class="text-center">
                                    <button class="btn bg-transparent asignar-btn text-decoration-none" title="Asignar" style="color: #2d594d"><i class="fas fa-user-plus"></i></button>
                                </td>

                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<!--MODAL VISUALIZAR-->
<!-- MODAL -->
<div class="modal fade" id="modalVisualizarVacante" tabindex="-1" aria-labelledby="modalCrearVacanteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" style="border-radius: 12px; background-color: #F2F2F2; color: #2D594D;">

            <!-- HEADER -->
            <div class="modal-header" style="background-color: #2D594D; color: white;">
                <h5 class="modal-title">Visualizar Vacante</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <!-- BODY -->
            <div class="modal-body px-4">
                <div class="mb-4">
                    <h5 class="section-title">Información General</h5>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Nombre de la Vacante <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="nombrePuestoEditar" value="Asistente Bancario" readonly>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Empresa <span class="text-danger">*</span></label>
                            <select class="form-select OpcionesVacantes w-100" style="font-size:14px" name="empresaEditar" disabled>
                                <option value="" disabled>-- Seleccione empresa --</option>
                                <option value="Align" selected>Align</option>
                                <option value="InnovaTech">BCR</option>
                                <option value="Grupo Delta">Grupo Delta</option>
                                <option value="Soluciones Web CR">Soluciones Web CR</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Lugar / Ubicación <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="ubicacion" value="Cartago, 200 metros norte de la Basílica" readonly>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Especialidad <span class="text-danger">*</span></label>
                            <select class="form-select OpcionesVacantes w-100" style="font-size:14px" name="areaProfesionalEditar" disabled>
                                <option value="" disabled>-- Seleccione área --</option>
                                <option value="Administración">Contabilidad</option>
                                <option value="Informática" selected>Informática</option>
                                <option value="Salud">Electrotecnia</option>
                                <option value="Educación">Ejecutivo para centros de servicios</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Cantidad de Cupos <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" name="cuposEditar" value="3" min="1" readonly>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Modalidad <span class="text-danger">*</span></label>
                            <select class="form-select OpcionesVacantes w-100" style="font-size:14px" name="modalidadEditar" disabled>
                                <option value="" disabled>-- Seleccione modalidad --</option>
                                <option value="Presencial" selected>Presencial</option>
                                <option value="Remoto">Remoto</option>
                                <option value="Híbrido">Híbrido</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Fecha Límite de Aplicación <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="FechaAplicacionEditar" name="fechaLimite" value="2025-08-10" readonly>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Fecha de Cierre <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="FechaCierreEditar" name="fechaPublicacion" value="2025-08-15" readonly>
                        </div>

                        <div class="col-12 form-group mb-3">
                            <label>Requisitos <span class="text-danger">*</span></label>
                            <textarea class="form-control" name="requisitosEditar" rows="3" readonly>Conocimientos básicos en Excel, habilidades de comunicación, disponibilidad inmediata.</textarea>
                        </div>

                        <div class="col-12 form-group mb-3 w-100">
                            <label>Descripción <span class="text-danger">*</span></label>
                            <textarea class="form-control" name="descripcionEditar" rows="3" readonly>Únete a nuestro equipo como Asistente Bancario en Align. Aprenderás sobre atención al cliente, manejo de información financiera y mucho más.</textarea>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <h5 class="section-title">Aplicaciones</h5>


                    <ul class="list-group" id="listaPostulaciones">
                        <a href="@Url.Action("VisualizacionPostulacion", "Practicas")" style="color: #2D594D;" class="d-flex justify-content-between PostulacionesPerfil align-items-center p-2 border rounded mb-2">
                            Johhny Castillo Fallas | 803883038 | Informática
                            <span class="badge badge-asignada">Aceptado</span>
                        </a>
                        <a href="@Url.Action("VisualizacionPostulacion", "Practicas")" style="color: #2D594D;" class="d-flex justify-content-between PostulacionesPerfil align-items-center p-2 border rounded mb-2">
                            Ariana Fallas Calderón | 118810955 | Informática
                            <span class="badge badge-no-asignada" style="background-color: darkgoldenrod; color: white">En Proceso</span>
                        </a>
                    </ul>


                    <span id="mensajeSinAsignados" class="text-muted" style="display: none;">Ningún estudiante asignado aún</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!--MODAL PARA EDITAR Y VISUALIZAR-->

<div class="modal fade" id="modalEditarVacante" tabindex="-1" aria-labelledby="modalCrearVacanteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" style="border-radius: 12px; background-color: #F2F2F2; color: #2D594D;">

            <!-- HEADER -->
            <div class="modal-header" style="background-color: #2D594D; color: white;">
                <h5 class="modal-title">Edición de Práctica</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body px-4">
                <!-- Sección: Información General -->
                <div class="mb-4">
                    <h5 class="section-title">Información General</h5>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Nombre de la Vacante <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="nombrePuestoEditar" placeholder="Ejemplo: Asistente bancario" required>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Empresa <span class="text-danger">*</span></label>
                            <select class="form-select OpcionesVacantes w-100" style="font-size:14px" name="empresaEditar" required>
                                <option value="" disabled selected>-- Seleccione empresa --</option>
                                <option value="Align">Align</option>
                                <option value="InnovaTech">BCR</option>
                                <option value="Grupo Delta">Grupo Delta</option>
                                <option value="Soluciones Web CR">Soluciones Web CR</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Lugar / Ubicación <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="ubicacion" placeholder="Cartago, 200 metros norte" readonly>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Especialidad <span class="text-danger">*</span></label>
                            <select class="form-select OpcionesVacantes w-100" style="font-size:14px" name="areaProfesionalEditar" required>
                                <option class="text-dark" value="" disabled selected>-- Seleccione área --</option>
                                <option value="Administración">Contabilidad</option>
                                <option value="Informática">Informática</option>
                                <option value="Salud">Electrotecnia</option>
                                <option value="Educación">Ejecutivo para centros de servicios</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Cantidad de Cupos <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" name="cuposEditar" placeholder="Ejemplo: 3" min="1" required>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Modalidad <span class="text-danger">*</span></label>
                            <br />
                            <select class="form-select OpcionesVacantes w-100" style="font-size:14px" name="modalidadEditar" required>
                                <option value="" disabled selected>-- Seleccione modalidad --</option>
                                <option value="Presencial">Presencial</option>
                                <option value="Remoto">Remoto</option>
                                <option value="Híbrido">Híbrido</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Fecha Límite de Aplicación <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="FechaAplicacionEditar" aname="fechaLimite" required>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Fecha de Cierre<span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="FechaCierreEditar" name="fechaPublicacion" required>
                        </div>

                        <div class="col-12 form-group mb-3">
                            <label>Requisitos <span class="text-danger">*</span></label>
                            <textarea class="form-control" name="requisitosEditar" rows="3" placeholder="Habilidades y conocimientos requeridos" required></textarea>
                        </div>

                        <div class="col-12 form-group mb-3 w-100">
                            <label>Descripción <span class="text-danger">*</span></label>
                            <textarea class="form-control" name="descripcionEditar" rows="3" value="Sé parte de align y aprende..." placeholder="Detalles de la vacante..." required></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer px-4">
                <button id="btnEditarVacante" type="button" class="btn CerrarModal">Actualizar Vacante</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalPerfil" tabindex="-1" aria-labelledby="modalPerfilLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" style="border-radius: 12px; background-color: #F2F2F2; color: #2D594D;">

            <!-- HEADER -->
            <div class="modal-header" style="background-color: #2D594D; color: white;">
                <h5 class="modal-title">Perfil del Estudiante</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <!-- BODY -->
            <div class="modal-body px-4">
                <!-- Sección: Información Personal -->
                <div class="mb-4">
                    <h5 class="section-title">Información Personal</h5>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Nombre y Apellidos</label>
                            <input type="text" class="form-control" value="Johnny Castillo Fallas" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Correo Electrónico</label>
                            <input type="email" class="form-control" value="johnny.castillo@example.com" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" value="8888-0000" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Dirección</label>
                            <input type="text" class="form-control" value="San José, Costa Rica" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Sexo</label>
                            <input type="text" class="form-control" value="Masculino" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Especialidad</label>
                            <input type="text" class="form-control" value="Informática" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Edad</label>
                            <input type="text" class="form-control" value="19 años" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Sección</label>
                            <input type="text" class="form-control" value="12-4" readonly>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <h5 class="section-title">Información del Encargado</h5>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Nombre y Apellidos</label>
                            <input type="text" class="form-control" value="Carlos Fallas" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" value="8899-1122" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Parentesco</label>
                            <input type="text" class="form-control" value="Padre" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Residencia o Trabajo</label>
                            <input type="text" class="form-control" value="Cartago, CR" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Ocupación</label>
                            <input type="text" class="form-control" value="Ingeniero Civil" readonly>
                        </div>
                    </div>
                </div>

                <!-- Sección: Prácticas / Postulaciones -->
                <div class="mb-4">
                    <h5 class="section-title">Prácticas / Postulaciones</h5>
                    <ul class="list-group">
                        <li style="color: #2D594D;" class="d-flex justify-content-between  PostulacionesPerfil align-items-center p-2 border rounded mb-2">
                            Práctica en Banco Nacional
                            <span class="badge badge-asignada">Aceptado</span>
                        </li>
                        <li style="color: #2D594D;" class="d-flex justify-content-between PostulacionesPerfil align-items-center p-2 border rounded mb-2">
                            Postulación a ICE
                            <span class="badge badge-no-asignada" style="background-color: darkgoldenrod; color: white">En Proceso</span>
                        </li>
                        <li style="color: #2D594D;" class="d-flex justify-content-between PostulacionesPerfil  align-items-center p-2 border rounded mb-2">
                            Postulación a Amazon
                            <span class="badge badge-no-asignada" style="background-color: darkred; color: WHITE">Rechazado</span>
                        </li>
                    </ul>
                </div>

                <!-- Sección: Documentos -->
                <div class="mb-3">
                    <h5 class="section-title">Documentos</h5>

                    <!-- Documento 1 -->
                    <div class="d-flex justify-content-between align-items-center p-2 border rounded mb-2">
                        <span style="color: #2D594D;">CV_JohnnyCastillo.pdf</span>

                        <div>
                            <!-- Ver PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               target="_blank"
                               rel="noopener noreferrer"
                               style="color: #2D594D; margin-right: 10px;">
                                <i class="fas fa-eye PostulacionesPerfil" title="Visualizar" style="cursor: pointer;"></i>
                            </a>

                            <!-- Descargar PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               download
                               style="color: #2D594D;">
                                <i class="fas fa-download PostulacionesPerfil" title="Descargar" style="cursor: pointer;"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Documento 2 -->
                    <div class="d-flex justify-content-between align-items-center p-2 border rounded mb-2">
                        <span style="color: #2D594D;">Cedula_Frontal.pdf</span>
                        <div>
                            <!-- Ver PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               target="_blank"
                               rel="noopener noreferrer"
                               style="color: #2D594D; margin-right: 10px;">
                                <i class="fas fa-eye PostulacionesPerfil" title="Visualizar" style="cursor: pointer;"></i>
                            </a>

                            <!-- Descargar PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               download
                               style="color: #2D594D;">
                                <i class="fas fa-download PostulacionesPerfil" title="Descargar" style="cursor: pointer;"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Documento 3 -->
                    <div class="d-flex justify-content-between align-items-center p-2 border rounded">
                        <span style="color: #2D594D;">Autorizacion_Practica.pdf</span>
                        <div>
                            <!-- Ver PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               target="_blank"
                               rel="noopener noreferrer"
                               style="color: #2D594D; margin-right: 10px;">
                                <i class="fas fa-eye PostulacionesPerfil" title="Visualizar" style="cursor: pointer;"></i>
                            </a>

                            <!-- Descargar PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               download
                               style="color: #2D594D;">
                                <i class="fas fa-download PostulacionesPerfil" title="Descargar" style="cursor: pointer;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" class="btn CerrarModal" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL PARA CREAR-->

<div class="modal fade" id="modalCrearVacante" tabindex="-1" aria-labelledby="modalCrearVacanteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" style="border-radius: 12px; background-color: #F2F2F2; color: #2D594D;">

            <!-- HEADER -->
            <div class="modal-header" style="background-color: #2D594D; color: white;">
                <h5 class="modal-title">Nueva Vacante para Práctica</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body px-4">
                <!-- Sección: Información General -->
                <div class="mb-4">
                    <h5 class="section-title">Información General</h5>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Nombre de la Vacante <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="nombrePuesto" placeholder="Ejemplo: Asistente bancario" required>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Empresa <span class="text-danger">*</span></label>
                            <select class="form-select OpcionesVacantes w-100" name="empresa" style="font-size:14px" required>
                                <option value="" disabled selected>-- Seleccione empresa --</option>
                                <option value="TechSolutions S.A.">TechSolutions S.A.</option>
                                <option value="InnovaTech">BCR</option>
                                <option value="Grupo Delta">Grupo Delta</option>
                                <option value="Soluciones Web CR">Soluciones Web CR</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Lugar / Ubicación <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="ubicacion" value="Cartago, La Lima" required>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Especialidad <span class="text-danger">*</span></label>
                            <select class="form-select OpcionesVacantes w-100" style="font-size:14px" name="areaProfesional" required>
                                <option class="text-dark" value="" disabled selected>-- Seleccione área --</option>
                                <option value="Administración">Contabilidad</option>
                                <option value="Ingeniería">Informática</option>
                                <option value="Salud">Electrotecnia</option>
                                <option value="Educación">Ejecutivo para centros de servicios</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Cantidad de Cupos <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" name="cupos" placeholder="Ejemplo: 3" min="1" required>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Modalidad <span class="text-danger">*</span></label>
                            <br />
                            <select class="form-select OpcionesVacantes w-100" style="font-size:14px" name="modalidad" required>
                                <option value="" disabled selected>-- Seleccione modalidad --</option>
                                <option value="Presencial">Presencial</option>
                                <option value="Remoto">Remoto</option>
                                <option value="Híbrido">Híbrido</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Fecha Límite de Aplicación <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="FechaAplicacion" aname="fechaLimite" required>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Fecha de Cierre<span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="FechaCierre" name="fechaPublicacion" required>
                        </div>

                        <div class="col-12 form-group mb-3">
                            <label>Requisitos <span class="text-danger">*</span></label>
                            <textarea class="form-control" name="requisitos" rows="3" placeholder="Habilidades y conocimientos requeridos" required></textarea>
                        </div>

                        <div class="col-12 form-group mb-3 w-100">
                            <label>Descripción <span class="text-danger">*</span></label>
                            <textarea class="form-control" name="descripcion" rows="3" placeholder="Detalles de la vacante..." required></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer px-4">
                <button id="btnGuardarVacante" type="button" class="btn CerrarModal">Guardar y Publicar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>




@section scripts {

    <script>
        $(document).ready(function () {
         $('#miTablaAsignar').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
            },
            responsive: true,
            pageLength: 5
        });

          $('.asignar-btn').on('click', function () {
            var $row = $(this).closest('tr'); // Fila actual
            var nombre = $row.find('td:eq(0)').text().trim(); // Nombre estudiante
            var estado = $row.find('td:eq(2)').text().trim(); // Estado práctica

            // Simula validación
            if (estado === "Práctica Asignada") {
                Swal.fire({
                    icon: 'error',
                    title: 'Lo sentimos',
                    text: 'El estudiante ya tiene una práctica asignada',
                    confirmButtonColor: '#2D594D'
                });
            } else {
                // Confirmar asignación
                Swal.fire({
                    title: '¿Asignar estudiante?',
                    text: `¿Deseas asignar a ${nombre} a esta vacante?`,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#2D594D',
                    cancelButtonColor: '#aaa',
                    confirmButtonText: 'Sí, asignar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Asignado',
                            text: `${nombre} ha sido asignado.`,
                            icon: 'success',
                            timer: 5000,
                            timerProgressBar: true,
                            showConfirmButton: false,
                            willClose: () => {
                                // Redirección simulada o lógica AJAX aquí
                                window.location.href = '@Url.Action("VacantesEstudiantes", "Practicas")';
                            }
                        });
                    }
                });
            }
        });

           //---------------------------------


            $(".BtnVisualizarVacante").on("click", function () {
                const asignados = parseInt($(this).data("asignados"));

                if (asignados === 0) {
                    $("#listaPostulaciones").hide();
                    $("#mensajeSinAsignados").show();
                } else {
                    $("#listaPostulaciones").show();
                    $("#mensajeSinAsignados").hide();
                }
            });

            var table = $('#miTabla').DataTable({
                responsive: true
            });

            // Filtro por estado académico
            $('#filtroEstadoAcademico').on('change', function () {
                table.column(5).search(this.value).draw();
            });

            // Filtro por estado de práctica
            $('#filtroPractica').on('change', function () {
                table.column(4).search(this.value).draw();
            });

            // Filtro por especialidad
            $('#filtroEspecialidad').on('keyup', function () {
                table.column(2).search(this.value).draw();
            });

            //------------------------------------------------------------------


document.getElementById("btnGuardarVacante").addEventListener("click", function () {
    // Todos los campos dentro del modal
    const modal = document.querySelector("#modalCrearVacante .modal-body");
    const requiredFields = modal.querySelectorAll("[required]");
    let valid = true;

    // Validar todos los campos requeridos
    requiredFields.forEach(field => {
        if (!field.value || field.value.trim() === "") {
            valid = false;
            field.classList.add("is-invalid");
        } else {
            field.classList.remove("is-invalid");
        }
    });

    // Validar fechas
    const fechaAplicacion = document.getElementById("FechaAplicacion");
    const fechaCierre = document.getElementById("FechaCierre");

    if (fechaAplicacion.value && fechaCierre.value) {
        const fechaAplicacionVal = new Date(fechaAplicacion.value);
        const fechaCierreVal = new Date(fechaCierre.value);

        if (fechaAplicacionVal > fechaCierreVal) {
            valid = false;
            fechaAplicacion.classList.add("is-invalid");
            fechaCierre.classList.add("is-invalid");

            Swal.fire({
                icon: "error",
                title: "Fechas inválidas",
                text: "La fecha de aplicación no puede ser mayor a la fecha de cierre.",
                confirmButtonColor: "#d33"
            });

            return; // Detiene el proceso aquí
        } else {
            fechaAplicacion.classList.remove("is-invalid");
            fechaCierre.classList.remove("is-invalid");
        }
    }

    // Si algún campo está vacío
    if (!valid) {
        Swal.fire({
            icon: "error",
            title: "Campos Incompletos",
            text: "Por favor, complete todos los campos requeridos.",
            confirmButtonColor: "#d33"
        });
        return;
    }

    // Si todo está bien
    Swal.fire({
        icon: "success",
        title: "Vacante Registrada",
        text: "La vacante fue registrada exitosamente.",
        confirmButtonColor: "#198754",
        timer: 5000,
        timerProgressBar: true
    }).then(() => {
        window.location.href = '@Url.Action("VacantesEstudiantes", "Practicas")';
    });
});
  


    //------------------------------------------------------------------

    let filaActual;


    $('#miTabla').on('click', 'button[data-bs-target="#modalEditarVacante"]', function () {
    const btn = $(this);
    filaActual = btn.closest('tr');


    $('select[name="empresaEditar"]').val(btn.data('empresa'));
    $('select[name="areaProfesionalEditar"]').val(btn.data('especialidad'));
    $('textarea[name="requisitosEditar"]').val(btn.data('requisitos'));
    $('input[name="cuposEditar"]').val(btn.data('cupos'));
    $('#FechaAplicacionEditar').val(btn.data('fecha-aplicacion'));
    $('#FechaCierreEditar').val(btn.data('fecha-cierre'));
    });


    $('#btnEditarVacante').on('click', function () {
   
    const empresa = $('select[name="empresaEditar"]').val();
    const especialidad = $('select[name="areaProfesionalEditar"]').val();
    const requisitos = $('textarea[name="requisitosEditar"]').val();
    const cupos = $('input[name="cuposEditar"]').val();
    const fechaAplicacion = $('#FechaAplicacionEditar').val();
    const fechaCierre = $('#FechaCierreEditar').val();

   
    if (!empresa || !especialidad || !requisitos || !cupos || !fechaAplicacion || !fechaCierre) {
    Swal.fire({
    icon: 'warning',
    title: 'Campos incompletos',
    text: 'Por favor completa todos los campos obligatorios.'
    });
    return;
    }

    if (new Date(fechaAplicacion) > new Date(fechaCierre)) {
    Swal.fire({
    icon: 'error',
    title: 'Fechas inválidas',
    text: 'La fecha de aplicación no puede ser mayor que la fecha de cierre.'
    });
    return;
    }

    
    filaActual.find('td:eq(0)').text(empresa);
    filaActual.find('td:eq(1)').text(especialidad);
    filaActual.find('td:eq(2)').text(requisitos);
    filaActual.find('td:eq(3)').text(cupos);

    Swal.fire({
    icon: 'success',
    title: 'Vacante actualizada exitosamente',
    showConfirmButton: false,
    timer: 2000
    });

   
    setTimeout(() => {
    $('#modalEditarVacante').modal('hide');
    }, 500);
    });


    $(".BtnEliminarVacante").on("click", function () {
    let cupos = $(this).data('asignados');

    Swal.fire({
    title: '¿Está seguro?',
    text: "Esta acción eliminará la vacante.",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#2d594d',
    cancelButtonColor: '#333',
    confirmButtonText: 'Sí, eliminar',
    cancelButtonText: 'Cancelar'
    }).then((result) => {
    if (result.isConfirmed) {
    if (cupos > 0) {
    Swal.fire({
    icon: 'error',
    title: 'Estudiantes Asignados',
        text: 'No se puede eliminar la vacante porque tiene estudiantes asignados.',
        confirmButtonColor: '#2d594d'
    });
    } else {
    
    Swal.fire({
    icon: 'success',
    title: 'Vacante eliminada correctamente',
    showConfirmButton: false,
    timer: 1500
    });

   
    if (typeof filaSeleccionada !== 'undefined' && filaSeleccionada) {
    filaSeleccionada.remove();
    }
    }
    }
    });
    });




});

    </script>
}
