@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Listado de Estudiantes";
}

@{
    var rol = Session["rol"] != null ? Convert.ToInt32(Session["rol"]) : 0;
}


@if (rol == 1)
{
    <h2 class="vacantes-titulo titulo-principal d-flex justify-content-between align-items-center">
        Estudiantes @DateTime.Now.Year
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="filtroDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-filter"></i>
            </button>
            <div class="dropdown-menu p-3" style="min-width: 300px;">
                <div class="mb-2">
                    <label class="Filtros">Estado académico</label>
                    <select id="filtroEstadoAcademico" class="form-control">
                        <option value="">Todos</option>
                        <option value="Aprobado">Aprobado</option>
                        <option value="Rezagado">Rezagado</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label>Estado de práctica</label>
                    <select id="filtroPractica" class="form-control">
                        <option value="">Todos</option>
                        <option value="Asignada">Con práctica asignada</option>
                        <option value="No asignada">Sin práctica</option>
                    </select>
                </div>
                <div>
                    <label>Especialidad</label>
                    <input type="text" id="filtroEspecialidad" class="form-control" placeholder="Filtrar por especialidad" />
                </div>
            </div>
        </div>
    </h2>
}
else
{
    <h2 class="vacantes-titulo titulo-principal d-flex justify-content-between align-items-center">
        Mis Estudiantes @DateTime.Now.Year
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="filtroDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-filter"></i>
            </button>
            <div class="dropdown-menu p-3" style="min-width: 300px;">
                <div class="mb-2">
                    <label class="Filtros">Estado académico</label>
                    <select id="filtroEstadoAcademico" class="form-control">
                        <option value="">Todos</option>
                        <option value="Aprobado">Aprobado</option>
                        <option value="Rezagado">Rezagado</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label>Estado de práctica</label>
                    <select id="filtroPractica" class="form-control">
                        <option value="">Todos</option>
                        <option value="Asignada">Con práctica asignada</option>
                        <option value="No asignada">Sin práctica</option>
                    </select>
                </div>
                <div>
                    <label>Especialidad</label>
                    <input type="text" id="filtroEspecialidad" class="form-control" placeholder="Filtrar por especialidad" />
                </div>
            </div>
        </div>
    </h2>
}


<div class="card rounded-5 p-3">
    <table id="miTabla" class="display responsive nowrap w-100">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Teléfono</th>
                <th>Estado de Práctica</th>
                <th>Estado Académico</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2023101234</td>
                <td>Laura Rodríguez</td>
                <td>Informática</td>
                <td>8888-8888</td>
                <td><span class="badge badge-asignada">Asignada</span></td>

                <td><span class="badge badge-asignada">Aprobado</span></td>

                <td>
                    <button data-bs-toggle="modal" data-bs-target="#modalPerfil" class="btn text-decoration-none bg-transparent" style="color: #2d594d"><i class="fas fa-eye"></i></button>
                    <button class="btn bg-transparent text-decoration-none" style="color: #2d594d">	<i class="fas fa-sync-alt"></i></button>
                </td>
            </tr>
            <tr>
                <td>3022105678</td>
                <td>Juan Román</td>
                <td>Electrónica</td>
                <td>8999-9999</td>
                <td><span class="badge badge-no-asignada badge-estado-academico">En Progreso</span></td>
                <td><span class="badge badge-asignada badge-estado-academico">Aprobado</span></td>

                <td>
                    <button data-bs-toggle="modal" data-bs-target="#modalPerfil" class="btn text-decoration-none bg-transparent" style="color: #2d594d"><i class="fas fa-eye"></i></button>
                    <button class="btn CambiarEstado bg-transparent text-decoration-none" style="color: #2d594d">	<i class="fas fa-sync-alt"></i></button>
                </td>
            </tr>
            <tr>
                <td>2022105678</td>
                <td>Juan Pérez</td>
                <td>Electrónica</td>
                <td>8999-9999</td>
                <td><span class="badge badge-no-asignada badge-estado-academico">Sin Práctica Asignada</span></td>
                <td><span class="badge badge-no-asignada badge-estado-academico">Rezagado</span></td>

                <td>
                    <button data-bs-toggle="modal" data-bs-target="#modalPerfil" class="btn text-decoration-none bg-transparent" style="color: #2d594d"><i class="fas fa-eye"></i></button>
                    <button class="btn CambiarEstado bg-transparent text-decoration-none" style="color: #2d594d">	<i class="fas fa-sync-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="modalPerfil" tabindex="-1" aria-labelledby="modalPerfilLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" style="border-radius: 12px; background-color: #F2F2F2; color: #2D594D;">

            <!-- HEADER -->
            <div class="modal-header" style="background-color: #2D594D; color: white;">
                <h5 class="modal-title">Perfil del Estudiante</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <!-- BODY -->
            <div class="modal-body px-4">
                <!-- Sección: Información Personal -->
                <div class="mb-4">
                    <h5 class="section-title">Información Personal</h5>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Nombre y Apellidos</label>
                            <input type="text" class="form-control" value="Johnny Castillo Fallas" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Correo Electrónico</label>
                            <input type="email" class="form-control" value="johnny.castillo@example.com" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" value="8888-0000" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Dirección</label>
                            <input type="text" class="form-control" value="San José, Costa Rica" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Sexo</label>
                            <input type="text" class="form-control" value="Masculino" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Especialidad</label>
                            <input type="text" class="form-control" value="Informática" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Edad</label>
                            <input type="text" class="form-control" value="19 años" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Sección</label>
                            <input type="text" class="form-control" value="12-4" readonly>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <h5 class="section-title">Información del Encargado</h5>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Nombre y Apellidos</label>
                            <input type="text" class="form-control" value="Carlos Fallas" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" value="8899-1122" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Parentesco</label>
                            <input type="text" class="form-control" value="Padre" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Residencia o Trabajo</label>
                            <input type="text" class="form-control" value="Cartago, CR" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Ocupación</label>
                            <input type="text" class="form-control" value="Ingeniero Civil" readonly>
                        </div>
                    </div>
                </div>

                <!-- Sección: Prácticas / Postulaciones -->
                <div class="mb-4">
                    <h5 class="section-title">Prácticas / Postulaciones</h5>
                    <ul class="list-group">
                        <a href="@Url.Action("VisualizacionPostulacion", "Practicas")" style="color: #2D594D;" class="d-flex justify-content-between  PostulacionesPerfil align-items-center p-2 border rounded mb-2">
                            Práctica en Banco Nacional
                            <span class="badge badge-asignada">Aceptado</span>
                        </a>
                        <a href="@Url.Action("VisualizacionPostulacion", "Practicas")" style="color: #2D594D;" class="d-flex justify-content-between PostulacionesPerfil align-items-center p-2 border rounded mb-2">
                            Postulación a ICE
                            <span class="badge badge-no-asignada" style="background-color: darkgoldenrod; color: white">En Proceso</span>
                        </a>
                        <a href="@Url.Action("VisualizacionPostulacion", "Practicas")" style="color: #2D594D;" class="d-flex justify-content-between PostulacionesPerfil  align-items-center p-2 border rounded mb-2">
                            Postulación a Amazon
                            <span class="badge badge-no-asignada" style="background-color: darkred; color: WHITE">Rechazado</span>
                        </a>
                    </ul>
                </div>

                <!-- Sección: Documentos -->
                <div class="mb-3">
                    <h5 class="section-title">Documentos</h5>

                    <!-- Documento 1 -->
                    <div class="d-flex justify-content-between align-items-center p-2 border rounded mb-2">
                        <span style="color: #2D594D;">CV_JohnnyCastillo.pdf</span>

                        <div>
                            <!-- Ver PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               target="_blank"
                               rel="noopener noreferrer"
                               style="color: #2D594D; margin-right: 10px;">
                                <i class="fas fa-eye PostulacionesPerfil" title="Visualizar" style="cursor: pointer;"></i>
                            </a>

                            <!-- Descargar PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               download
                               style="color: #2D594D;">
                                <i class="fas fa-download PostulacionesPerfil" title="Descargar" style="cursor: pointer;"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Documento 2 -->
                    <div class="d-flex justify-content-between align-items-center p-2 border rounded mb-2">
                        <span style="color: #2D594D;">Cedula_Frontal.pdf</span>
                        <div>
                            <!-- Ver PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               target="_blank"
                               rel="noopener noreferrer"
                               style="color: #2D594D; margin-right: 10px;">
                                <i class="fas fa-eye PostulacionesPerfil" title="Visualizar" style="cursor: pointer;"></i>
                            </a>

                            <!-- Descargar PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               download
                               style="color: #2D594D;">
                                <i class="fas fa-download PostulacionesPerfil" title="Descargar" style="cursor: pointer;"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Documento 3 -->
                    <div class="d-flex justify-content-between align-items-center p-2 border rounded">
                        <span style="color: #2D594D;">Autorizacion_Practica.pdf</span>
                        <div>
                            <!-- Ver PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               target="_blank"
                               rel="noopener noreferrer"
                               style="color: #2D594D; margin-right: 10px;">
                                <i class="fas fa-eye PostulacionesPerfil" title="Visualizar" style="cursor: pointer;"></i>
                            </a>

                            <!-- Descargar PDF -->
                            <a href="@Url.Content("~/Content/Documentos/Estudio de caso.pdf")"
                               download
                               style="color: #2D594D;">
                                <i class="fas fa-download PostulacionesPerfil" title="Descargar" style="cursor: pointer;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" class="btn CerrarModal" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@section scripts {


    <script>
        $(document).ready(function () {
            var table = $('#miTabla').DataTable({
                responsive: true
            });

            // Filtro por estado académico
            $('#filtroEstadoAcademico').on('change', function () {
                table.column(5).search(this.value).draw();
            });

            // Filtro por estado de práctica
            $('#filtroPractica').on('change', function () {
                table.column(4).search(this.value).draw();
            });

            // Filtro por especialidad
            $('#filtroEspecialidad').on('keyup', function () {
                table.column(2).search(this.value).draw();
            });

            $(".CambiarEstado").on("click", function () {
                var fila = $(this).closest("tr");
                var estadoAcademicoSpan = fila.find("td:nth-child(6) .badge-estado-academico");

                Swal.fire({
                    title: 'Selecciona el nuevo estado académico',
                    input: 'select',
                    inputOptions: {
                        'Aprobado': 'Aprobado',
                        'Rezagado': 'Rezagado'
                    },
                    inputPlaceholder: 'Selecciona un estado',
                    showCancelButton: true,
                    confirmButtonText: 'Actualizar',
                    customClass: {
                        confirmButton: 'btn-verde-personalizado'
                    },
                    cancelButtonText: 'Cancelar',
                    customClass: {
                        confirmButton: 'btn-verde-personalizado'
                    },
                    inputValidator: (value) => {
                        if (!value) {
                            return 'Debes seleccionar un estado';
                        }
                    }
                }).then((result) => {
                    if (result.isConfirmed) {

                        var nuevoEstado = result.value;
                        estadoAcademicoSpan.text(nuevoEstado);

                        if (nuevoEstado === 'Aprobado') {
                            estadoAcademicoSpan.removeClass().addClass('badge badge-estado-academico badge-asignada');
                        } else if (nuevoEstado === 'Rezagado') {
                            estadoAcademicoSpan.removeClass().addClass('badge badge-estado-academico badge-no-asignada');
                        }

                        Swal.fire('Actualizado!', 'El estado académico ha sido actualizado.', 'success');
                    }
                });
            });

        });
    </script>
}
